* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  background-color: lightblue;
  border-radius: 5px;
  padding: 10px;
}

.darkblue {
  color: darkblue;
}

.grey {
  color: gray;
}

.small-box {
  background-color: darkblue;
  color: lightblue;
  padding: 2px;
  border-radius: 2px;
}

.info-sign::before {
  content: '\1F6C8\00a0';
}

.stripe-light {
  background-color: lightgrey;
}

.italic {
  font-style: italic;
}
